html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

#Vanilla-Team {
    font-family: Baruta;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    color: #0045ac;
}

p.TopicLogin{
    width: 100%;
    height: 54px;
    font-family: ThaiSansLite;
    font-size: 40px;
    text-align: center;
    color: #373a3c;
}

p.DetailLogin{
    height: 26px;
    font-family: ThaiSansLite;
    font-size: 24px;
    text-align: center;
    color: #0f131b;
}

.remember-password {
    font-family: ThaiSansLite;
    font-size: 18px;
    text-align: center;
    color: #0f131b;
}

.center-text {
    text-align: center; 
    margin-top: 10px;
}

#ButtonLogin{
    width: 100%;
    height: 52px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    font-family: ThaiSansLite;
    border: solid 1px #456ebf;
    background-color: #456ebf;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  /* margin-bottom: 10px; */
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}